{% extends 'base/base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
        <h2 align="center">Espinoza Consultores</h2><hr>
        <div class="col-md-3">
        </div>
            <div class="col-md-6">
                <div><h5><FONT FACE="times new roman"><strong>División de Administración  y Finanzas</strong> </FONT></h5></div>
                <div>
                    <span style="z-index:10;position:relative;float:right;;clear:right;margin-top:0px;*margin-top:0px">
                        <a><img src="../../static/img/finan.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 10px; margin-right: 0px; border-width:1px;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>

                    <FONT FACE="times new roman"><strong>Servicios de Contabilidad</strong></FONT>
                    <FONT FACE="times new roman"><strong>Espinoza Consultores,</strong> entrega servicios integrados para gestionar los procesos contables
                        Contabilidad de las empresas. En esta área se gestionan los libros de compra y venta, registrando la
                        información de las facturas recibidas y emitidas en su plataforma tecnológica contable. De esta forma es
                        posible contar con balances preliminares y realizar análisis de la actividad de las empresas.</FONT><br><br>
                </div>
                <div>
                    <FONT FACE="times new roman"><strong>En este ámbito se elaboran los Estados financieros:</strong></FONT><br>
                <FONT FACE="times new roman"><strong>Libro de caja:</strong> se registran los movimientos realizados en efectivo, que no pasan por cuentas bancarias.<br>
                   <strong>Libro de activos fijos:</strong>  se registran los activos fijos de la compañía, tales como computadores,
                            maquinarias, sistemas, vehículos, entre otros de acuerdo al área de negocio de la empresa.<br>
                    <strong>Libro mayor:</strong> corresponde al detalle y clasificación de los gastos que realiza la empresa para generar
                        sus productos y servicios.<br>
                    <strong>Estado de resultados:</strong> permite tener registrado los movimientos de la compañía, gastos reales en los que se consideran los gastos fijos y variables y los ingresos de la compañía.</FONT>
                </div>
                <div>
                   <FONT FACE="times new roman"><strong>Balance 8 columnas:</strong>  balance generado cuando concluye el periodo tributario anual, entregando el resultado de un periodo en particular de la empresa.<br>
                        <strong>Confección de libro FUT:</strong> se registran los resultados de la empresa de acuerdo a las utilidades y pérdidas generadas durante toda la vida de la empresa.
                        También se registra cuando los socios hacen retiros de utilidades de las empresas.<br>
                       <strong>Renta líquida imponible:</strong> declaración anual de los ingresos y egresos de la empresa en un periodo anual específico.</FONT><br><br>
                </div>
                <div>
                    <FONT FACE="times new roman">Se registra todo lo referente al aumento del patrimonio de una empresa. Se supervisa, controla y apoya en la normativa tributaria contable.<br>
                        Se realizan los inicios de actividades, obtención de rut, timbraje de documentos, fiscalizaciones,  declaraciones juradas, términos de Giro, obtención de Facturación electrónica, entre otros.</FONT><hr>
                </div>
                <div>
                    <span style="z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px"><a>
                        <img src="../../static/img/asesor.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>
                    <FONT FACE="times new roman"><strong> Asesorías Financieras</strong></FONT><br>
                         <FONT FACE="times new roman">En esta área E.C ofrece los servicios Gestión de Pasivos, Control de gastos, Optimizar los costos, Análisis de nuevos proyectos, gestión de créditos con proveedores, Control de pago proveedores y gastos operacionales.<br><br>
                             Asimismo, como parte de las Asesorías Financieras, E.C se puede hacer responsable de las conciliaciones bancarias de sus clientes y así mantener un orden que entregue claridad en todo momento a quienes dirijan las empresas.</FONT><hr/><br>
                </div>
                <div>
                    <span style="z-index:10;position:relative;float:right;;clear:right;margin-top:0px;*margin-top:0px">
                        <a><img src="../../static/img/gestio.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 10px; margin-right: 0px; border-width:1px;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>
                    <FONT FACE="times new roman"><strong> Gestión de Recursos Humanos</strong></FONT><br>
                    <FONT FACE="times new roman">Como parte de los servicios que proporciona E.C, se consideran la gestión del personal y recursos humanos de sus clientes. Las empresas pueden delegar la responsabilidad a E.C para la elaboración de la nómina de sueldos,
                        definición de cargos v/s sueldos, organización de jornada laboral, Reglamentos internos, Organigrama, Licencias medica, bonos y cómo se programa el pago mensual de remuneraciones a los empleados.
                        Dentro de la gestión de recursos humanos se considera la planificación y definición de vacaciones, nuevos contratos, finiquitos y los contactos con empresas relacionados a los empleados (cajas de compensación, mutuales de seguridad, etc.).</FONT><br><hr>
                </div>
                <div>
                    <span style="z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px"><a>
                        <img src="../../static/img/procesos.png" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>
                    <FONT FACE="times new roman"><strong> Procesos Administrativos y de Operación</strong></FONT><br>
                   <FONT FACE="times new roman"> En general las compañías realizan sus procesos de acuerdo a los requerimientos que se generan día a día, sin embargo, para mejorar sistemáticamente es necesario estandarizar los procesos ya sean en el ámbito administrativo como operacional de las empresas.
                       Con esto es posible reconocer qué roles son necesario para el funcionamiento de la compañía, los sistemas que existen y se requieren y cuáles son los procesos o pasos que deben realizar los trabajadores para cumplir con una labor en particular.</FONT><br>
                    <FONT FACE="times new roman">Esto permite documentar y generar procesos de trabajo que estén a la mano de todos los empleados y conseguir que todos tengan una guía formal de la empresa y evitar que se realicen procesos de una u otra forma de acuerdo al criterio o experiencia del empleado.
Así también es posible mejorar los tiempos de incorporación de nuevos trabajadores a la compañía, entregando una guía de procesos que apoye la labor y el resultado que se espera de un empleado en particular.<br>En esta área <E class="C"></E> pretende analizar y definir en conjunto con personal de la empresa cuál es el proceso que se adecua con mayor precisión a la realidad de cada empresa.</FONT>

                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
{% endblock %}