{% extends 'base/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
        <h2 align="center">Espinoza Consultores</h2><hr>
        <div class="col-md-3">
        </div>
         <div class="col-md-6">

             <div><h5><FONT FACE="times new roman"><strong>División de Informática y Tecnologia (TI)</strong> </FONT></h5></div><br>
                <div>
                     <span style="z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px"><a>
                        <img src="../../static/img/inf1.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>

                    <FONT FACE="times new roman"><strong>Consultorías y Asesorías Tecnológicas</strong></FONT><br>
                    <FONT FACE="times new roman">Para una compañía invertir en nuevos productos, ya sean maquinarias, activos o
                        bienes tecnológicos siempre requieren de un análisis previo que asegure que lo que se intenta adquirir se
                        adapta a un negocio determinado, que cubre las necesidades del negocio, entrega la seguridad que será un
                        producto/servicio escalable en el tiempo (para no perder la inversión) y
                        finalmente asegurar que se resolverán las problemáticas que apoye lo que se intenta adquirir.<br><br>
                        n este contexto, E.C bajo su división de Tecnologías de la Información ofrece servicios para apoyar,
                        asesorar y poner a disposición de sus clientes su experiencia para realizar un análisis acabado a cualquier
                        inversión relativa al área de tecnologías de la información tales como: compra o arriendo de sistemas de
                        información, actualizaciones de sistemas de información ya existentes, desarrollo de sistemas y mejora o
                        adquisición de equipamientos que den soporte a la infraestructura tecnológica ya sea de red, servidores, entre otros.<br><br>
                        En esta área E.C ofrece sus servicios para apoyar la revisión de los procesos actuales
                        que son apoyados por sistemas informáticos y generar una propuesta que permita mejorar ciertas áreas.
                        Como por ejemplo, si el negocio considera el ingreso de información de sus clientes, proveedores,
                        atenciones de clientes, agendamientos para alguna mantención o labor en particular, es posible revisar
                        los procesos y validar cómo éstos pueden ser documentados, estandarizados y mejorados si corresponde.
                        Esto con la finalidad de que la empresa posea procesos de trabajo que sean estándares y permiten a nuevos empleados
                        tener una guía clara de lo que debe realizar de acuerdo a un rol o perfil en particular.
                    </FONT><br><br>

                </div><hr>

                <div>
                    <span style="z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px"><a>
                        <img src="../../static/img/inf2.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>
                    <FONT FACE="times new roman"><strong>Servicio de Mantenimiento y Soporte</strong></FONT><br>
                    <FONT FACE="times new roman">En general las compañías poseen un parque de equipos computacionales,
                        donde se pueden reconocer computadores de escritorio, notebooks,
                        impresoras, entre otros, que deben ser mantenidos comúnmente para asegurar un correcto funcionamiento.<br>
                        Asimismo, las redes de computadoras ya sea alámbricas como inalámbricas requieren ser mantenidas,
                        administradas y ampliadas si las necesidades de la empresa así lo requieren.<br><br>
                        En estas áreas E.C ofrece sus servicios para apoyar estas labores y permitir que las empresas
                        cuenten con una base sólida a nivel computacional.<br>
                        En este servicio se considera la administración y ejecución de respaldos periódicos de información,
                        ya sea de un sistema en particular o de archivos que se utilicen para labores
                        administrativas diarias (por ejemplo: MS Excel, MS Word, MS Power Point, entre otros).</FONT><br><br>

                </div><hr>
                  <div>
                    <span style="z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px"><a>
                        <img src="../../static/img/inf3.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                    </span>
                    <FONT FACE="times new roman"><strong>Servicio de Creación y Adaptación de Sistemas y Páginas Web</strong></FONT><br>
                    <FONT FACE="times new roman">Con la finalidad de ofrecer servicios de desarrollo de sistemas y
                        páginas web, E.C pone a disposición de sus clientes los servicios para realizar estos desarrollos y
                        entregar los servicios requeridos para abordar las áreas relevantes a estos requerimientos.<br>
                      En relación a este servicios, es posible crear un producto que se acoja a las características y
                        requerimientos específicos de una empresa. Asimismo, este servicio considera la adaptación de
                        algún producto comercial y apoyo de implementación para efectos de configuración y
                        parametrización del sistema para que se acoja a la realidad de la empresa que lo desee implementar <br>
                      En relación a este servicios, es posible crear un producto que se acoja a las características y
                        requerimientos específicos de una empresa. Asimismo, este servicio considera la adaptación
                        de algún producto comercial y apoyo de implementación para efectos de configuración y
                        parametrización del sistema para que se acoja a la realidad de la empresa que lo desee implementar. </FONT><br><br>

                </div>
             </div>
         </div>

        <div class="col-md-3">

        </div>
  </div>
</div>
{% endblock %}