{% extends 'base/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
        <h2 align="center">Espinoza Consultores</h2><hr>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
        <FONT FACE="times new roman"><strong>Presentación de la Compañía</strong> </FONT><br>
            <FONT FACE="times new roman">Espinoza Consultores ofrece una plataforma de servicios profesionales en el área de la
                administración y finanzas y de las tecnologías de la información, con la finalidad que  sus clientes
                confíen dichas áreas, transversales al negocio que cada empresa realiza, y así ellas puedan fijar sus
                objetivos en potenciar su negocio, la materia prima que cada una ofrece.</FONT><br><br>
            <FONT FACE="times new roman">E.C nace con el objetivo de proveer una base sólida a las empresas desde el punto de vista de la administración de los recursos humanos, procesos contables,
                procesos operaciones y de la arquitectura tecnológica (sistemas, redes y comunicaciones). </FONT><br><br>
            <FONT FACE="times new roman">A partir de las deficiencias que se puedan encontrar en la histórica de las empresas, es donde E.C incorpora sus servicios para estar con sus clientes y entregar
                una asesoría que se ajuste a las características de cada negocio.</FONT><br><br>
            <FONT FACE="times new roman">La <strong>Visión</strong> de E:C es ser una compañía líder e innovadora en la entrega de servicios de apoyo a pequeñas y grandes empresas en las áreas de administración y finanzas,
                y de tecnologías de la información.  </FONT><br><br>
           <FONT FACE="times new roman"> La <strong>Misión</strong> de E:C es entregar servicios de calidad, con altos niveles de estándares y con profesionales responsables que permita a sus clientes enfrentar nuevos desafíos,
               a partir del apoyo que E.C les puede brindar.</FONT>
        </div>
        <div class="col-md-3">
        </div>
  </div>
</div>
{% endblock %}