{% extends 'base/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
        <h2 align="center">Espinoza Consultores</h2><hr>
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div>

                 <span style="z-index:10;position:relative;float:right;;clear:right;margin-top:0px;*margin-top:0px">
                        <a><img src="../../static/img/finan.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 10px; margin-right: 0px; border-width:1px;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                 </span>
                 <FONT FACE="times new roman"><strong>División de Administración  y Finanzas</strong> </FONT><br>
                 <FONT FACE="times new roman"><strong>Espinoza Consultores</strong> ofrece servicios para apoyar a las empresas en la
                     administración sus áreas contables, de recursos humanos, procesos administrativos y operativos, entre otros.</FONT>

            </div><br><br><hr>
            <div>

                 <span style="z-index:10;position:relative;float:left;;clear:left;margin-top:0px;*margin-top:0px"><a>
                        <img src="../../static/img/inf3.jpg" style="margin-top: 5px; margin-bottom: 10px; margin-left: 0px; margin-right: 10px; border-width:0;" alt="Picture" class="galleryImageBorder"></a>
                        <span style="display: block; font-size: 90%; margin-top: -10px; margin-bottom: 10px; text-align: center;" class="wsite-caption"></span>
                 </span>
                 <FONT FACE="times new roman"><strong>División de Informatica y Tecnologia (TI)</strong> </FONT><br>
                 <FONT FACE="times new roman"><strong>Espinoza Consultores</strong> ervicios de Informática y Tecnologías de la Información:
Prema ofrece servicios para apoyar a las empresas en las áreas de las Tecnologías de la Información (áreas de sistemas y computación). Asesorías en la adquisición e
                     Implementación de sistemas computacionales, procesos de trabajo y metodologías. </FONT>

            </div>

             <div class="col-md-3">
             </div>

        </div>
        <div class="col-md-3">
        </div>
  </div>
</div>
{% endblock %}