

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'home:index' %}"><font><font class="">Home</font></font></a>
             <a class="navbar-brand" href="{% url 'home:adm-finanza' %}"><font><font class="">Administración y Finanzas</font></font></a>
             <a class="navbar-brand" href="{% url 'home:informatica' %}"><font><font class="">Informática y Tecnologia (TI)</font></font></a>
             <a class="navbar-brand" href="{% url 'home:quienes_somos' %}"><font><font class="">Quienes Somos?</font></font></a>
             <a class="navbar-brand" href="{% url 'home:contacto_enviar' %}"><font><font class="">Contacto</font></font></a>
        </div>
      </div>
    </nav>